.main-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .main-layout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    box-shadow: 0 2px 10px #dee0e1;
  }
  .main-layout-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    .menu-wrap {
      padding: 10px;
      width: 200px;
      height: 100%;
      background: #eee;
      .menu-item {
        margin-bottom: 10px;
      }
    }
    .content-wrap {
      flex: 1;
      padding: 10px;
      height: 100%;
      overflow: scroll;
    }
  }
}